[Unit]
Description=Upgrade remer.us Website

[Service]
Type=oneshot
ExecStart=/bin/sleep 1
ExecStart=/bin/systemctl restart remer.us.service

[Install]
WantedBy=multi-user.target
