extends layout/page.pug

block params
    - var title = "Forbidden"
    - var page = "error"

block page-header
    h1 Forbidden
    h2 HTTP 403

block main
    section.error
        p Go whence you came.
        iframe(
            width="560", height="315",
            src="https://www.youtube.com/embed/rVMEO-XXqIQ?controls=0",
            frameborder="0", allowfullscreen
            allow="autoplay",
        )
