extends layout/page.pug

block main
    section.projects
        p What I'm working on right now
        ul
            li this site
            li web-based peer-to-peer networking
            li Wayland support tools
                ul
                    li global keyboard/mouse shortcuts
                    li workspace manager
