.primary {
    background-color: white;
    box-shadow: 0 0 0.4rem 0 #333;
    color: #888;
    font-family: "Crimson Text", serif;
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 35rem;
    padding: 3rem;

    iframe {
        display: block;
        margin: 1rem auto;
    }
}
